* {
    box-sizing: border-box;
}
body {
    background: white;
    margin: 0;
}

/* Header Styles */
header {
    display: grid;
    grid-template-columns: [start] 400px [mid] auto [end];
    margin: 2px 2px 2px 0;
}

#pro-pic {
    object-fit: cover;
    width: 400px;
    margin-left: 0;
    margin-top: 2px;

}

#title-headings {
    padding: 0.5rem;
    border: solid black 1px;
    margin: 2px;
    display: grid;
    grid-template-rows: auto auto auto;
}

#title-headings h1 {
    font-family: "Share", cursive;
    font-size: 50px;
    text-transform: uppercase;
    margin: 0.5rem 0;
    font-weight: bold;
}

#title-headings h2 {
    font-family: "Share", cursive;
    font-size: 25px;
    padding-left: 5rem;
    margin: 0.5rem 0;
}

header nav {
    align-self: end;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 0;
    padding: 0;
}

header nav li {
    display: inline-block;
}

header nav li a {
    text-decoration: none;
    color: black;
    font-family: "Amatic SC", cursive;
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
}

header nav li a:hover {
    color: darkgreen;
    border: solid darkgreen 1px;
}

header nav li a:active {
    color: darkseagreen;
    border: solid darkseagreen 1px;
}

/* About Me Styles */
#bio {
    margin: 3rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: [bio-start] 60% [bio-end] 10% [quote-start] 25% [quote-end];
}

#bio-body {
    border: solid black 1px;
    grid-column: bio-start / bio-end;
    padding: 1rem;
}

#bio h2 {
    font-family: "Amatic SC", cursive;
}

#bio-body p {
    font-family: "Zilla Slab", serif;
}

.testimonial-quote {
    background-color: #0E2A00;
    align-self: center;
    grid-column: quote-start / quote-end;
    color: white;
    font-family: "Zilla Slab", serif;
    width: fit-content;
}

/* Design and Care Styles */
#design-care-container {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: [design-start] 48% [design-end] 4% [care-start] 48% [care-end];
    height: 500px;
}

#design-care-container a {
    text-decoration: none;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#design-care-container .click-box h2 {
    color: white;
    font-family: "Amatic SC", cursive;
    font-weight: normal;
    font-size: 35px;
    border: solid white 1px;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.3)
}

#design-care-container a:hover h2 {
    color: darkseagreen;
    border-color: darkseagreen;
}

#design-care-container a:active h2 {
    color: darkgreen;
    border-color: darkgreen;
}

#design {
    grid-column: design-start / design-end;
    background-image: url('../images/natural-dekalb-3.jpg');
}

#care {
    grid-column: care-start / care-end;
    background-image: url('../images/myrtle-2.jpg');
}


/* Footer Styles */
footer {
    background-color: #0d170e;
    color: white;
    margin-bottom: 0;
    padding: 3rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

footer #footer-content-box {
    border: solid white 1px;
    width: fit-content;
    padding: 1rem 2rem;
}

footer h2 {
    font-family: "Share", cursive;
    font-size: 35;
}

footer h3 {
    font-family: "Zilla Slab", serif;
    font-size: 25;
}

footer p {
    font-family: "Roboto", sans-serif;
}

/* Design page styles */
#design-main {
    margin-left: 2rem;
}
#design-main h2 {
    font-family: "Amatic SC", cursive;
    font-size: 35px;
}

#design-intro-blurb {
    padding: 2rem;
    margin: 1rem 2rem;
    border: solid black 1px;
}

#design-intro-blurb p {
    font-family: "Zilla Slab", serif;
}

#design-projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

a.project-click-box {
    padding: 1rem;
    text-decoration: none;
    color: white;
}

a.project-click-box .project-box-content {
    background-size: cover;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.project-click-box .project-box-content h3 {
    font-family: "Amatic SC", cursive;
    border: solid white 1px;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.3);
}

#deion-yard-project {
    background-image: url('../images/deion-yard-3.jpg');
}

#dekalb-entrance-garden {
    background-image: url('../images/dekalb-3.jpg');
}

#myrtle-washington-entrance-garden{
    background-image: url('../images/myrtle-2.jpg');
}

#dekalb-hospital {
    background-image: url('../images/natural-dekalb-3.jpg');
}

#st-edwards {
    background-image: url('../images/natural-st-edward-2.jpg');
}

a.project-click-box:hover {
    border: solid darkseagreen 1px;
}

a.project-click-box:hover h3 {
    color: darkseagreen;
    border-color: darkseagreen;
}

a.project-click-box:active {
    border: solid darkgreen 1px;
}

a.project-click-box:active h3 {
    color: darkgreen;
    border-color: darkgreen;
}

/* Care page styles */
#care-main h2 {
    font-family: "Amatic SC", cursive;
    font-size: 35px;
    text-align: center;
}

#care-blurb  {
    background-image: url('../images/myrtle-2.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    max-width: 75%;
}

#care-blurb-content {
    border: solid white 1px;
    margin: 2rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-family: "Zilla Slab",  serif;
}

/* Design Project Page Styles */


/* Slideshow container */
#project-main h2 {
    font-family: "Amatic SC", cursive;
    font-size: 35px;
    text-align: center;
 }

#slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
 }

#slideshow-container p {
    font-family: "Zilla Slab", serif;
}



 .mySlides {
    display: none;
 }

 .slide-image {
     vertical-align: middle;
     width: 100%;
 }
 /* Next & previous buttons */
 .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
 }
 /* Position the "next button" to the right */
 .next {
    right: 0;
    border-radius: 3px 0 0 3px;
 }
 /* On hover, add a black background color with a little bit seethrough */
 .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
 }
 /* Caption text */
 .slide-caption {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
 }
 /* Number text (1/3 etc) */
 .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
 }
 /* The dots/bullets/indicators */
 .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
 }
 .active, .dot:hover {
    background-color: #717171;
 }

 #project-blurb {
     /* background-color: #0E2A00; */
     color: black;
     padding: 1rem;
     max-width: 750px;
     margin: 2rem auto;
 }

 #project-blurb .blurb-text {
     font-family: "Zilla Slab", serif;
     border: solid black 1px;
     padding: 0.5rem;
     margin: 0;
 }



